@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.header {
  position: fixed;
  background-color: #222222;
  padding: 20px 0;
  z-index: 100;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo__item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo__search {
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 41px;
  transition: 0.2s;
  fill: #fff;
}

.logo__search:hover {
  fill: #F16D7F;
  transition: 0.2s;
}

.trash__item {
  display: flex;
  align-items: center;
}

.header__menu {
  position: relative;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  transition: 0.2s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.2s;
}

.header__burger:before {
  bottom: 0;
}

.header__burger:after {
  top: 0;
}

.header__burger:hover:before {
  background-color: #F16D7F;
}

.header__burger:hover:after {
  background-color: #F16D7F;
}

.header__burger span {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: 0.2s;
}

.header__burger:hover span {
  background-color: #F16D7F;
}

.header__burger.active span {
  transform: rotate(45deg);
  background-color: #F16D7F;
}

.header__burger.active:before {
  transform: rotate(45deg);
  background-color: #F16D7F;
  top: 9px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  background-color: #F16D7F;
  top: 9px;
}

li {
  margin-top: 10px;
}

.nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 202px;
  height: 100vh;
  transition: 0.5s;
  background-color: #fff;
  top: 100%;
  right: -100%;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.nav__list.active {
  right: 0;
}

.nav__suptitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-top: 33px;
}

.nav_title {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.nav__link {
  margin-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.nav__link:hover {
  color: #000;
}

.login__img {
  display: block;
  width: 29px;
  height: 29px;
  margin-left: 33px;
  transition: 0.2s;
  fill: #fff;
}

.login__img:hover {
  fill: #F16D7F;
  transition: 0.2s;
}

.trash__img {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 33px;
  transition: 0.2s;
  fill: #fff;
}

.trash__img:hover {
  fill: #F16D7F;
  transition: 0.2s;
}

.intro {
  background-color: #F1E4E6;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-top: 6%;
}

.intro__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 768px;
}

.intro__img {
  display: block;
  width: 100%;
  height: auto;
}

.intro__text {
  margin-right: 80px;
  text-align: left;
  position: relative;
}

.intro__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.intro__subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 58px;
  color: #222222;
}
.intro__subtitle span {
  color: #F16D7F;
}

.intro-bg {
  position: absolute;
  left: -18%;
  bottom: 0;
}

.intro__text:before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 107px;
  background: #F16D7F;
  left: -7%;
  bottom: 5%;
}

.catalog {
  margin-top: 65px;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
}

.catalog__item {
  position: relative;
  margin-right: 20px;
  overflow: hidden;
}

.catalog__item:last-child {
  margin-right: 0;
}

.catalog__link {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100;
}

.catalog__img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
  transition: 1s;
}

.catalog__link:hover .catalog__img {
  transform: scale(1.2);
}

.last__catalog__item {
  overflow: hidden;
  width: 100%;
  height: 116px;
}

.last__catalog__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.catalog__link:hover .last__catalog__img {
  transform: scale(1.2);
}

.catalog__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s linear;
}

.catalog__suptitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.catalog__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
  text-transform: uppercase;
}

.last__catalog__item {
  margin-top: 30px;
  position: relative;
  max-width: 1140px;
  width: 100%;
}

.products__inner {
  margin-top: 96px;
}

.products__filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filtres__link {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-transform: uppercase;
  transition: 0.2s;
}
.filtres__link:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #000;
  left: 48px;
  top: 8px;
  border-radius: 50px 50px;
}
.filtres__link .filter__burger:before,
.filtres__link .filter__burger:after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  background-color: #000;
  left: 48px;
  border-radius: 50px 50px;
  transition: 0.2s;
}
.filtres__link .filter__burger:before {
  width: 15px;
  top: 3px;
}
.filtres__link .filter__burger:after {
  width: 5px;
  bottom: 3px;
}

.filtres:hover .filtres__link {
  color: #EF5B70;
}

.filtres {
  padding: 16px 13px;
  transition: 0.2s;
  width: 360px;
  height: auto;
  cursor: pointer;
}

.filtres:hover {
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.5);
}

.filtres:hover .filtres__link:after {
  background-color: #EF5B70;
}

.filtres:hover .filter__burger:after {
  background-color: #EF5B70;
}

.filtres:hover .filter__burger:before {
  background-color: #EF5B70;
}

.accordion {
  padding: 13px 17px;
  position: absolute;
  width: 360px;
  z-index: 100;
  background: #FFFFFF;
  left: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open].filters__boxItem__title {
  color: #F16D7F;
}

.card {
  margin-top: 18px;
  z-index: 100;
  background: #FFFFFF;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.filtres:hover .accordion {
  display: block;
}

.filters__boxItem {
  display: flex;
  flex-direction: column;
}

.filters__boxItem__title {
  text-transform: uppercase;
  padding: 11px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
}

.filters__boxItem__link {
  margin-left: 34px;
  margin-top: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filters__boxItem__link:hover {
  color: #EF5B70;
}

.singlefilter__inner {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.singlefilter__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  margin-left: 30px;
  position: relative;
}

.singlefilter__link:before,
.singlefilter__link:after {
  content: "";
  display: block;
  width: 7px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: -16.5px;
  bottom: 50%;
  border-radius: 50px 50px;
}

.singlefilter__link:before {
  transform: rotate(45deg);
  right: -12px;
}

.singlefilter__link:after {
  transform: rotate(-45deg);
}

.form__filter {
  display: flex;
  flex-direction: column;
}

.singlefilter__extended {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px 30px 10px 9px;
  position: absolute;
  right: 12%;
  z-index: 100;
  background-color: #fff;
  display: none;
  transition: 0.2s;
}

.singlefilter__formcontent {
  align-items: center;
  text-transform: uppercase;
}

.singlefilter__item:hover .singlefilter__extended {
  display: block;
}

.checkbox {
  margin-top: 10px;
  margin-right: 5px;
}

.products__text {
  text-align: center;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards__item {
  margin-top: 30px;
  width: 360px;
  height: auto;
  background-color: #F8F8F8;
  position: relative;
  transition: 0.2s linear;
}
.cards__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cards__link {
  color: #000;
}

.img__content {
  position: absolute;
  width: 360px;
  height: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 0.2s;
}

.cards__btn {
  position: absolute;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  background: none;
  padding: 13px 17px;
  opacity: 0;
  transition: 0.2s;
}

.btn__img {
  width: 26px;
  height: auto;
}

.btn__text {
  margin-left: 11px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.cards__img {
  display: block;
}

.cards__content {
  padding: 20px;
}

.cards__title {
  margin-top: 4px;
  font-size: 13px;
  line-height: 16px;
}

.cards__text {
  margin-top: 13px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.cards__coin {
  margin-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cards__item:hover .cards__btn {
  opacity: 1;
}

.cards__item:hover .img__content {
  opacity: 1;
}

.cards__btn:hover {
  border: 4px solid #fff;
}

.btn {
  display: flex;
  margin-top: 63px;
}

.content--btn {
  margin: auto;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 38px;
  transition: 0.2s;
  color: #F16D7F;
  background-color: #fff;
  border: 2px solid #F16D7F;
}

.content--btn:hover {
  color: #fff;
  background-color: #F16D7F;
}

.feature {
  margin-top: 95px;
  background-color: #222224;
}

.feature__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature__item {
  margin: 105px 0;
  max-width: 360px;
  text-align: center;
}

.feature__title {
  margin-top: 28px;
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
}

.feature__item:nth-child(2) .feature__title {
  margin-top: 20px;
}

.feature__item:nth-child(3) .feature__title {
  margin-top: 25px;
}

.feature__text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #FBFBFB;
}

.subscribe {
  width: 100%;
  background-image: url(../img/subscribe/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 86px 0 155px;
}

.subscribe__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.reviews__slider {
  overflow: hidden;
}

#reviewsSlider {
  width: 360px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px;
  list-style: none;
  z-index: 2;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  width: 25px;
  height: 5px;
  padding: 0;
  background: #E1E1E1;
  border: 3px;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  font-size: 0;
  color: transparent;
}

.slick-dots .slick-active button {
  background: #F16D7F;
  opacity: 1;
}

.reviews__slider.slick-initialized {
  height: auto;
}

.reviews__item {
  max-width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__img {
  display: block;
  width: 100px;
  height: auto;
}

.reviews__text {
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
  margin-top: 40px;
}

.form__item {
  text-align: center;
  margin-right: 73px;
}

.form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.form__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  color: #222224;
  margin-bottom: 32px;
}

.form__inner {
  align-items: center;
}

.input {
  width: 256px;
  height: 49px;
  border-radius: 50px 0 0 50px;
  background: #E1E1E1;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
}

input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.input--btn {
  width: 100px;
  height: 49px;
  border-radius: 0 50px 50px 0;
}

.input--btn {
  font-size: 14px;
  color: #FFFFFF;
  background-color: #F16D7F;
  transition: 0.2s;
  margin-left: -3px;
}

.input--btn:hover {
  background-color: #E05C6E;
}

.footer {
  background-color: #222224;
  width: 100%;
  height: auto;
  padding: 25px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__social {
  display: flex;
}

.social__item {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  margin-right: 7px;
}

.social__icon {
  display: block;
  height: 19px;
  fill: #000;
  transition: 0.2s;
}

.social__item:hover {
  background-color: #F16D7F;
}

.social__item:hover .social__icon {
  fill: #fff;
}

.headerpink {
  background-color: #F8F3F4;
  padding: 120px 0 40px;
}

.headerpink__inner {
  display: flex;
  justify-content: space-between;
}

.headerpink__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.headerpink__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}
.headerpink__link span {
  color: #F16D7F;
  font-weight: 700;
}
.headerpink__link:hover {
  color: #F16D7F;
}

.headerpink__link:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #636363;
  transform: rotate(25deg);
  margin: -2px 10px;
}

.headerpink__link:last-child:after {
  content: "";
  display: none;
}

.registration__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.form {
  width: 360px;
}

.registrationForm__title {
  margin-top: 33px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registrationForm__title:first-child {
  margin-top: 0;
}

.registration__input {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
}

.form__text {
  margin-top: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.radio {
  display: flex;
  margin-top: 31px;
  align-items: center;
}

.radio__item {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-left: 20px;
}
.radio__item:first-child {
  margin-left: 0;
}

.custom__radio {
  margin-right: 10px;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
}

.input__btn {
  position: relative;
  margin-top: 39px;
  width: 167px;
  height: 50px;
  background: #F16D7F;
  color: #fff;
  transition: 0.2s;
}

.span__btn {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 15%;
  margin-left: 10px;
  width: 17px;
  height: 1px;
  background-color: #fff;
  border-radius: 50px 50px 50px 50px;
}

.span__btn:before,
.span__btn:after {
  content: "";
  position: absolute;
  top: 80%;
  margin-top: -1px;
  right: 0;
  width: 7px;
  height: 1px;
  background-color: #fff;
  border-radius: 50px 50px 50px 50px;
}

.span__btn:before {
  transform: translateY(-5px);
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.span__btn:after {
  transform: translateY(5px);
  transform: rotate(-45deg);
  transform-origin: right top;
}

.input__btn:hover {
  border: 1px solid;
  background: #fff;
  color: #F16D7F;
}

.registration__content {
  max-width: 652px;
}

.registration__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__text {
  margin-top: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__list {
  margin-top: 24px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.li__item {
  position: relative;
  margin-left: 32px;
}

.li__item:before {
  content: "";
  background-image: url(../img/vector.svg);
  position: absolute;
  left: -5%;
  bottom: 20%;
  width: 20px;
  height: 16px;
}

.productsCards {
  position: relative;
}

.productsCards__intro {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsCards__img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.slick-arrow {
  position: absolute;
  z-index: 100;
  font-size: 0;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.slick-prev {
  left: 0;
  bottom: 50%;
}

.slick-prev:before,
.slick-prev:after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: #000;
  right: 15px;
}

.slick-prev:before {
  top: 17.5px;
  transform: rotate(-45deg);
}

.slick-prev:after {
  bottom: 17.5px;
  transform: rotate(45deg);
}

.slick-next {
  right: 0;
  bottom: 50%;
}

.slick-next:before,
.slick-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: #000;
  right: 15px;
}

.slick-next:before {
  top: 17.5px;
  transform: rotate(45deg);
}

.slick-next:after {
  bottom: 17.5px;
  transform: rotate(-45deg);
}

.productsCards__block {
  position: absolute;
  top: -5%;
  border: 1px solid #EAEAEA;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  height: 601px;
}

.productsCards__info {
  width: 100%;
  height: 601px;
}

.productsCards__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.productsCards__suptitle {
  margin-top: 64px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.productsCards__suptitle:after {
  content: "";
  display: block;
  background: #EF5B70;
  width: 63px;
  height: 3px;
  margin: 12px auto;
}

.productsCards__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.productsCards__text {
  margin-top: 48px;
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.productsCards__price {
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.productsCards__choose {
  display: flex;
  justify-content: center;
}

.productsCards__span {
  position: absolute;
  right: -8%;
  bottom: 60%;
  cursor: pointer;
}

.productsCards__span:before,
.productsCards__span:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 1px;
  background: #6F6E6E;
}

.productsCards__span:before {
  transform: rotate(-46deg);
  transform-origin: right bottom;
  right: -7px;
}

.productsCards__span:after {
  transform: rotate(47deg);
  transform-origin: left bottom;
}

.productsCards__price:after {
  content: "";
  display: block;
  background: #EAEAEA;
  width: 641px;
  height: 1px;
  margin: 65px auto;
}

.choose__click {
  margin-right: 52px;
  cursor: pointer;
}

.choose__text {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.productsCards__btn {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  display: flex;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
  margin: 63px auto 0;
  opacity: 0.6;
  transition: 0.2s;
}

.productsCards__btn:hover {
  opacity: 1;
}

.productsCards__icon {
  display: block;
  height: 24px;
  width: 26px;
  fill: #F16D7F;
  transition: 0.2s;
  margin-right: 22px;
}

.productsCards__btntext {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cart__inner {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cartCards__item {
  position: relative;
  margin-bottom: 40px;
  max-width: 652px;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cartCards__content {
  text-align: left;
  padding: 22px 100px 62px 31px;
}

.cartCards__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 41px;
}

.cartCards__feature {
  margin-top: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.cartCards__feature span {
  margin-left: 3px;
  opacity: 0.9;
}
.cartCards__feature .price {
  color: #F16D7F;
  opacity: 1;
}
.cartCards__feature .quantity {
  padding: 0.1px 15px;
  border: 1px solid #EAEAEA;
}

.cart__button {
  display: flex;
  justify-content: space-between;
}

.cart--btn {
  padding: 17px 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  transition: 0.2s;
}

.cart--btn:hover {
  background-color: #F16D7F;
  color: #fff;
  border: none;
}

.cart__form {
  display: flex;
  flex-direction: column;
}

.cart__formTitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart__input {
  padding-left: 16px;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.cart__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart__formBtn {
  width: 101px;
  height: 35px;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  background-color: #fff;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  transition: 0.2s;
}

.cart__formBtn:hover {
  background-color: #F16D7F;
  color: #fff;
  border: none;
}

.cart__total {
  margin-top: 57px;
  padding: 39px 43px 42px 43px;
  background: #F5F3F3;
  text-align: right;
  color: #4A4A4A;
}

.total__suptext {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 12px;
}

.total__subtext {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 21px;
}
.total__subtext span {
  color: #F16D7F;
}

.cart__totalbtn {
  display: block;
  margin-top: 17px;
  width: 273px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: #F16D7F;
  transition: 0.2s;
  opacity: 0.8;
}

.cart__totalbtn:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .registration__content {
    margin-left: 22px;
  }
}
@media (max-width: 853px) {
  .cart__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart__form {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .intro {
    padding-top: 10%;
  }

  .intro__inner {
    height: 367px;
  }

  .intro__img {
    object-fit: contain;
    height: 368px;
  }

  .intro-bg {
    left: -28%;
  }

  .intro__title {
    font-size: 44px;
  }

  .intro__subtitle {
    font-size: 24px;
  }

  .intro__text {
    margin-right: 20px;
  }

  .feature__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature__item {
    margin: 48px 0;
  }

  .subscribe__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__item {
    margin-right: 0;
    margin-top: 15px;
  }

  .registration__title {
    font-size: 16px;
    line-height: 19px;
  }

  .registration__text {
    font-size: 16px;
    line-height: 19px;
  }

  .registration__list {
    font-size: 16px;
    line-height: 19px;
  }

  .li__item {
    margin-top: 26px;
  }

  .li__item::before {
    left: -10%;
  }

  .productsCards__block {
    position: relative;
    padding: 0 0 30px 0;
  }

  .cards__none {
    display: none;
  }
}
@media (max-width: 600px) {
  .intro__inner {
    justify-content: center;
  }

  .intro__text {
    margin: 0;
  }

  .intro-bg {
    display: none;
  }

  .intro__inner {
    height: 375px;
  }

  .catalog__inner {
    display: block;
  }

  .catalog__item {
    margin: 20px 0;
  }

  .feature__item {
    margin: 28px;
  }
}
@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__text {
    margin-top: 30px;
  }
}
@media (max-width: 475px) {
  .headerpink__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerpink__nav {
    margin-top: 32px;
  }

  .registration__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registration__content {
    margin-top: 40px;
  }

  .login__img,
.trash__img {
    display: none;
  }

  .form__item {
    margin-right: 0;
  }

  .productsCards__choose {
    display: flex;
    justify-content: space-around;
  }

  .choose__text {
    font-size: 10px;
  }

  .productsCards__price:after {
    width: 174px;
  }

  .choose__click {
    margin-right: 15px;
  }

  .productsCards__block {
    border: none;
    border-bottom: 1px solid #EAEAEA;
  }
}
@media (max-width: 375px) {
  .intro__title {
    font-size: 35px;
  }

  .intro__subtitle {
    font-size: 26px;
  }

  .input {
    width: 200px;
  }

  .input--btn {
    width: 80px;
  }
}
@media (max-width: 320px) {
  .form__inner {
    margin-bottom: 20px;
  }

  .form__title {
    font-size: 20px;
  }

  .form__subtitle {
    font-size: 14px;
  }

  .reviews__item {
    max-width: 290px;
  }

  .subscribe__inner {
    display: block;
  }

  .intro__title {
    font-size: 35px;
  }

  .intro__subtitle {
    font-size: 22px;
  }

  .products__inner {
    overflow-x: hidden;
  }

  .cards__content {
    padding: 10px 40px;
  }

  .form {
    width: 300px;
  }

  .registration__input {
    width: 300px;
  }
}